<p>
  {{ this.loading.txt }}
</p>
<button (click)="load()">Load</button>

<div class="tab">
  <button
    class="tablinks"
    [ngClass]="{
      proposol: tab == 1
    }"
    (click)="clickTab1()"
  >
    Enterprise
  </button>
  <button
    class="tablinks"
    [ngClass]="{
      proposol: tab == 2
    }"
    (click)="clickTab2()"
  >
    News
  </button>
  <button
    class="tablinks"
    [ngClass]="{
      proposol: tab == 3
    }"
    (click)="clickTab()"
  >
    Research
  </button>
</div>
<br />
<br />
<br />

<div *ngIf="tab == 3">
  <iframe src="https://lamnt95.github.io/" title="description"></iframe>
</div>

<table *ngIf="tab == 1">
  <tr>
    <th class="w100">assets</th>
    <th class="w100">importance</th>
    <th class="w100">subCategory</th>
    <th class="w100">status</th>
    <th class="w100">date</th>
    <th class="w100">Link</th>
    <th class="w200">eventName</th>
    <th>details</th>
    <th>update</th>
  </tr>
  <tr *ngFor="let item of data">
    <td class="w100">{{ item.assets }}</td>
    <td
      class="w100"
      [ngClass]="{
        high: item.importance == 'High'
      }"
    >
      {{ item.importance }}
    </td>
    <td class="w100">{{ item.subCategory }}</td>
    <td
      class="w100"
      [ngClass]="{
        completed: item.status == 'Completed',
        proposol: item.status == 'Proposed'
      }"
    >
      {{ item.status }}
    </td>
    <td class="w100">{{ item.date }}</td>
    <td class="w100">
      <a
        class="bl"
        *ngFor="let item2 of item.resources; let i2 = index"
        [href]="item2"
        >Link {{ i2 + 1 }}</a
      >
    </td>
    <td class="w200">{{ item.eventName }}</td>
    <td>{{ item.details }}</td>
    <td>{{ item.update }}</td>
  </tr>
</table>

<table *ngIf="tab == 2">
  <tr>
    <th>title</th>

    <th>publishDate</th>

    <th>assets</th>
    <th>subType</th>
    <th>Link</th>
  </tr>
  <tr *ngFor="let item of data2">
    <td>{{ item.title }}</td>

    <td>{{ item.publishDate }}</td>
    <td>{{ item.assets }}</td>
    <td>{{ item.subType }}</td>

    <td>
      <a class="bl" [href]="item.link">{{ item.source }}</a>
    </td>
  </tr>
</table>
